/*!
 * yundanran css-3
 * @author 云淡然 http://qianduanblog.com
 * @version 1.4
 * 2013年11月27日16:53:42;
 */

/**************************** [reset] ****************************/
 @charset"utf-8";
 html {
	scrollbar-base-color: #c2c2c2;
	scrollbar-3dlight-color: #c2c2c2;
	scrollbar-highlight-color: #c2c2c2;
	scrollbar-track-color: #eee;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #c2c2c2;
	scrollbar-dark-shadow-color: black;
	/*设置字体相对16px大小，便于rem控制*/
	font-size: 62.5%;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	word-break:break-all;
	word-wrap:break-word;
}
::-webkit-scrollbar-track-piece {
	border-left: 1px solid #d2d2d2;
	background-color: #f5f5f5
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px
}
::-webkit-scrollbar-thumb {
	min-height: 28px;
	border: 1px solid #979797;
	background-color: #c2c2c2;
	background-clip: padding-box
}
::-webkit-scrollbar-thumb:hover {
	border: 1px solid #636363;
	background-color: #929292
}
body, div, span, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ol, ul, li, label, table {
	margin: 0;
	padding: 0;
}
body {
	font-size: 1.4rem;
}
input, textarea, select, button {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
input[type="button"], input[type="submit"], input[type="reset"], button, label, a {
	cursor: pointer;
}
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
}
img, iframe {
	border: 0;
	vertical-align: top;
}
iframe {
	overflow: hidden;
}
a {
	color: #3C77C3;
	text-decoration: none;
	-webkit-transition: color, background 0.5s;
	-moz-transition: color, background 0.5s;
	-ms-transition: color, background 0.5s;
	transition: color, background 0.5s;
}
a:hover {
	color: #1D63BE;
	text-decoration: underline;
}
ul, ol {
	list-style-position: inside;
}
/**************************** [reset] ****************************/

/**************************** [public] ****************************/

/*align*/
 .pull-left {
	position: relative;
	float: left;
}
.pull-right {
	position: relative;
	float: right;
}
.clearfix:before, .clearfix:after, .progress:before, .progress:after, .tab-nav:before, .tab-nav:after {
	display: table;
	content:" ";
	line-height: 0;
}
.clearfix:after, .progress:after, .tab-nav:after {
	clear: both;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wrap, .module-body {
	background-color: #fff;
	position: relative;
	padding: 15px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	line-height: 20px;
	zoom: 1;
}
/*width and distance*/
 .w100 {
	width: 100%;
}
.w50 {
	width: 50%;
}
.w33 {
	width: 33%;
}
.mb10 {
	margin-bottom: 10px;
}
.ml10 {
	margin-left: 10px;
}
hr {
	height: 0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
/*list-unstyled*/
 .breadcrumb, .list-unstyled, .list-inline, .tab-nav, .form {
	list-style: none;
}
/*list lines*/
 .list-lines>li {
	margin-bottom: 10px;
	min-height: 30px;
}
.list-lines>li:last-child, .list-lines>.last-li {
	margin-bottom: 0;
}
.list-lines .divider, .list-line .divider, .form .divider {
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #b1b1b1;
	min-height: 0;
	height: 0;
	overflow: hidden;
}
/*list line*/
 .list-line>li {
	overflow: hidden;
	line-height: 2.4rem;
	height: 2.4rem;
}
.list-line .divider {
	margin: 10px 0;
}
/*list inline*/
 .list-inline {
	margin-left: 0;
}
.list-inline>li {
	display: inline-block;
	margin-right: 10px;
}
.list-inline>li:last-child {
	margin-right: 0;
}
/*caret*/
 .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	content:"";
}
.caret-top {
	border-bottom: 4px solid #000;
	border-top: 0 dotted;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
}
.caret-right {
	border-left: 4px solid #000;
	border-right: 0 dotted;
	border-top: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.caret-bottom {
	border-top: 4px solid #000;
	border-bottom: 0 dotted;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
}
.caret-left {
	border-right: 4px solid #000;
	border-left: 0 dotted;
	border-top: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid rgba(0, 0, 0, 0);
}
/*.navigator*/
 .navigator {
	height: 30px;
	line-height: 30px;
	background: #f5f5f5;
}
.navigator .circle {
	width: 8px;
	height: 8px;
	background: #888;
	border-radius: 100%;
	display: inline-block;
	margin-right: 6px;
}
.navigator .square {
	width: 12px;
	height: 6px;
	background: #888;
	border-radius: 2px;
	display: inline-block;
	margin-right: 6px;
}
.navigator .active {
	background: #0DA014;
}
body {
	padding: 0;
	margin: 0;
}
section{
	position: relative;
	overflow: hidden;
}
/**************************** [public] ****************************/

/**************************** [app] ****************************/

/**************************** [section-1] ****************************/
 .section-1 {
	height: 60px;
}
.section-1 .close {
	position: absolute;
	font-size: 2rem;
	top: 10px;
	right: 10px;
	color: #000;
	background: #fff;
	border: 1px solid #f00;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.section-1 .close:hover, .section-1 .close:active {
	text-decoration: none;
}
/**************************** [section-1] ****************************/

/**************************** [section-2] ****************************/
 .section-2 {
	background: #518900;
	padding: 10px 0;
}
.section-2 .list {
	min-width: 192px;
}
.section-2 li {
	width: 38px;
	height: 40px;
	overflow: hidden;
	text-align: center;
}
.section-2 p {
	height: 19px;
	line-height: 19px;
	padding: 0;
	font-size: .9rem;
}
.section-2 a {
	color: #fff;
}
/**************************** [section-2] ****************************/

/**************************** [section-3] ****************************/
 .section-3 {
	background: #A70101;
	color: #fff;
	margin-bottom: 5px;
}
.section-3 .control {
	width: 60px;
}
.section-3 .caret-left {
	border-right-width: 8px;
	border-right-color: #fff;
}
.section-3 .caret-right {
	border-left-width: 8px;
	border-left-color: #fff;
}
.section-3 .caret-1 {
	opacity: 0.6;
}
/**************************** [section-3] ****************************/

/**************************** [section-4] ****************************/
.section-4 .content {
	position: relative;
	overflow: hidden;
}
.section-4 .prev, .section-4 .next {
	position: absolute;
	font-size: 30px;
	height: 30px;
	top: 50%;
	margin-top: -30px;
}
.section-4 .prev {
	left: -10px;
}
.section-4 .next {
	right: -10px;
}
.section-4 i.active {
	background-color: #FF4300;
}
/**************************** [section-4] ****************************/

/**************************** [section-5] ****************************/
 .section-5 .name {
	line-height: 60px;
	text-align: center;
}
.section-5 .name a {
	color: #982E05;
	font-size: 20px;
	font-weight: 900;
}
.section-5 .meta {
	color: #888;
	line-height: 30px;
}
/**************************** [section-5] ****************************/

/**************************** [section-6] ****************************/
 .section-6 .item, .section-7 .item {
	position: relative;
}
.section-6 .item1 {
	margin-left: 5px;
}
.section-6 .item2 {
	margin-right: 5px;
}
.section-6 .item span {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20px;
	line-height: 20px;
	right: 0;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	text-align: center;
}
/**************************** [section-6] ****************************/

/**************************** [section-7] ****************************/
.section-7 .item1 {
	margin-left: 7px;
}
.section-7 .item2 {
	margin-right: 7px;
}
.section-7 .prev, .section-7 .next {
	position: absolute;
	height: 20px;
	top: 40px;
	font-size: 20px;
}
.section-7 .prev {
	left: -7px;
}
.section-7 .next {
	right: -7px;
}
.section-7 .control {
	line-height: 30px;
}
.section-7 .caret-left {
	border-right-width: 8px;
	border-right-color: #888;
}
.section-7 .caret-right {
	border-left-width: 8px;
	border-left-color: #888;
}
.section-7 .caret-left.caret-1 {
	margin-right: -9px;
}
.section-7 .caret-right.caret-1 {
	margin-left: -7px;
}
.section-7 .caret-1 {
	opacity: 0.6;
}
/**************************** [section-7] ****************************/

/**************************** [section-8] ****************************/
 .section-8 {
	background: #f5f5f5;
}
.section-8 .content dd {
	margin: 10px;
}
.section-8 .content img {
	border-radius: 100%;
}
.section-8 .content .name {
	line-height: 30px;
	font-weight: 900;
}
.section-8 .content .name a {
	color: #444;
	display: block;
	height: 100%;
}
.section-8 .navigator[class^=icon] {
	vertical-align: middle;
	font-size: 22px;
	color: #888;
}
/**************************** [section-8] ****************************/

/**************************** [section-9] ****************************/
 .section-9 .title {
	background: #2284CB;
	color: #fff;
	padding: 10px;
	font-size: 2rem;
}
.section-9 .list1 {
	background: #F0F0F0;
	padding-top: 10px;
}
.section-9 .list1 li {
	float: left;
	width: 70px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #FFF;
	box-shadow: 0px 2px 0px #DFDFDF;
	margin-bottom: 10px;
	margin-left: 6px;
}
.section-9 .list1 a {
	display: block;
	height: 100%;
	background: #FFF;
	color: #444;
	font-size: 12px;
}
.section-9 .list2 li {
	line-height: 40px;
	border-bottom: 1px solid #eee;
}
.section-9 .list2 dd {
	float: left;
	min-width: 64px;
}
.section-9 .list2 a {
	display: block;
	color: #444;
	height: 100%;
	text-align: center;
}
.section-9 .list2 dd:first-child a {
	border-right: 1px solid #eee;
	color: #47AEE9;
}
/**************************** [section-9] ****************************/

/**************************** [section-10] ****************************/
 .section-10 {
	background: #f6f6f6;
	padding: 10px 0;
}
.section-10 .lead {
	margin-bottom: 10px;
}
.section-10 .content li {
	text-align: center;
	border: 1px solid #EEE;
	background: #F6F6F6;
	box-shadow: 0 3px 4px #E0E0E0;
	width: 46px;
	padding: 4px;
	margin-left: 7px;
}
.section-10 .name {
	line-height: 30px;
}
.section-10 .name a {
	font-size: 12px;
	color: #444;
	display: block;
	height: 100%;
}
/**************************** [section-10] ****************************/

/**************************** [section-11] ****************************/
 .section-11 .title {
	background: #fff;
	color: #000;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 1.6rem;
	position: relative;
}
.section-11 .title .bar {
	background: #D77574;
	position: absolute;
	width: 4px;
	height: 18px;
	top: 6px;
	left: 10px;
}
.section-11 li {
	width: 33.33333333333333%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
}
.section-11 li a {
	display: block;
	height: 100%;
	text-align: center;
	border: 1px dashed #ddd;
	border-right: 0;
}
.section-11 li:nth-child(3n+1) a {
	border-left: 0;
}
/**************************** [section-11] ****************************/

/**************************** [section-12] ****************************/
 .section-12 {
	background: #FBCC02;
	padding: 5px;
}
.section-12 .list li {
	margin-left: 5px;
}
.section-12 .list .divider {
	width: 0;
	border-left: 1px solid rgba(250, 152, 5, 0.36);
	border-right: 1px solid rgba(255, 255, 255, 0.24);
	height: 50px;
}
.section-12 .name {
	line-height: 30px;
}
.section-12 .name a {
	display: block;
	height: 100%;
}
/**************************** [section-12] ****************************/

/**************************** [section-13] ****************************/
 .section-13 {
	background: #333;
	font-size: 16px;
	padding: 5px 0;
}
.section-13 a {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	width: 16.66666666666667%;
}
/**************************** [section-13] ****************************/

/**************************** [section-14] ****************************/
 .section-14 .lead li {
	background: #FCCB02;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #D4807E;
}
.section-14 .big a {
	display: block;
	height: 100%;
	background: #fff;
	color: #000;
	font-size: 20px;
	padding: 0 10px;
}
.section-14 .small {
	margin-right: 10px;
}
.section-14 .small a {
	color: #000;
}
.section-14 .divider {
	margin: 0 10px;
	font-size: 12px;
	color: #888;
}
.section-14 .list li {
	padding: 0 10px;
	line-height: 40px;
	border-bottom: 1px dashed #ddd;
}
/**************************** [section-14] ****************************/

/**************************** [section-15] ****************************/
 .section-15 {
	background: #EEE;
	padding: 8px;
}
.section-15 .big li:last-child {
	margin-left: 8px;
}
.section-15 .name {
	line-height: 30px;
	text-align: center;
}
.section-15 .name a {
	display: block;
	height: 30px;
}
.section-15 .small {
	background: #fff;
	padding-top: 10px;
}
.section-15 .small li {
	margin-left: 10px;
	margin-bottom: 10px;
}
.section-15 .small .line {
	margin-bottom: 10px;
}
.section-15 .small .line:last-child {
	margin-bottom: 0;
}
.section-15 .divider {
	width: 0;
	border-left: 1px solid rgba(155, 155, 155, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.9);
	height: 35px;
}
/**************************** [section-15] ****************************/

/**************************** [section-16] ****************************/
 .section-16 {
	border-left: 6px solid #1B54AD;
	color: #1B54AD;
	font-weight: 900;
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	box-shadow: 0 4px 10px #888;
}
.section-16 .big {
	font-size: 1.6rem;
}
.section-16 .small a {
	color: #999;
	margin-left: 1.4rem;
}
/**************************** [section-16] ****************************/

/**************************** [section-17] ****************************/
 .section-17 ul {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.section-17 li {
}
.section-17 .divider {
	width: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	margin: 0 13px;
	height: 20px;
}
.section-17 a {
	color: #444;
}
/**************************** [section-17] ****************************/

/**************************** [section-18] ****************************/
 .section-18 a {
	background: #387CCF;
	display: block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	font-weight: 900;
	font-size: 1.4rem;
}
/**************************** [section-18] ****************************/

/**************************** [section-19] ****************************/
 .section-19 ul {
	margin-bottom: 10px;
}
.section-19 ul:last-child {
	margin-bottom: 0;
}
.section-19 li {
	width: 19%;
	text-align: center;
}
.section-19 a {
	color: #444;
}
.section-19 .divider {
	width: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #f5f5f5;
	height: 20px;
}
/**************************** [section-19] ****************************/

/**************************** [section-20] ****************************/
 .section-20 {
	border-top: 2px solid #8AC2E5;
}
.section-20 li {
	width: 20%;
	line-height: 40px;
	text-align: center;
	margin-bottom: -1px;
}
.section-20 a {
	display: block;
	border: 1px solid #ddd;
	border-left: 0;
}
.section-20 li:nth-child(1) a, .section-20 li:nth-child(2) a, .section-20 li:nth-child(3) a, .section-20 li:nth-child(4) a, .section-20 li:nth-child(5) a {
	border-top: 0;
}
.section-20 li:nth-child(5n) a {
	border-right: 0;
}
.section-20 .important {
	color: #f00;
	font-size: 1.6rem;
	font-weight: 900;
}
/**************************** [section-20] ****************************/

/**************************** [section-21] ****************************/
 .section-21 {
}
/**************************** [section-21] ****************************/

/**************************** [section-22] ****************************/
 .section-22 {
	padding: 6px;
}
.section-22 li {
	width: 50%;
	margin-bottom: -1px;
}
.section-22 .inner {
	border: 1px solid #ddd;
	border-left: 0;
	padding: 10px;
}
.section-22 li:nth-child(2n+1) .inner {
	border-left: 1px solid #ddd;
}
.section-22 .info p {
	line-height: 20px;
	color: #999;
	font-size: 1.2rem;
	margin-left: 5px;
}
.section-22 .info p.type {
	color: #000;
	font-weight: 900;
}
/**************************** [section-22] ****************************/

/**************************** [section-23] ****************************/
 .section-23 .control {
	text-align: center;
	position: relative;
	height: 30px;
	line-height: 30px;
	background: rgba(19, 66, 112, 1);
	color: #fff;
}
.section-23 .caret {
	border-top-width: 8px;
	border-bottom-width: 8px;
	position: absolute;
	top: 7px;
}
.section-23 .caret-left {
	border-right-width: 8px;
	border-right-color: #fff;
	left: 4px;
}
.section-23 .caret-right {
	border-left-width: 8px;
	border-left-color: #fff;
	right: 4px;
}
/**************************** [section-23] ****************************/

/**************************** [section-24] ****************************/
 .section-24 li {
	line-height: 40px;
	position: relative;
	padding-left: 10px;
}
.section-24 li:before {
	content:"";
	width: 4px;
	height: 4px;
	border-radius: 100%;
	position: absolute;
	background: #9DCEED;
	left: 4px;
	top: 50%;
	margin-top: -2px;
}
.section-24 li:nth-child(odd) {
	background: #f5f5f5;
}
/**************************** [section-24] ****************************/

/**************************** [section-25] ****************************/
 .section-25 {
	background: #3F9B1E;
	padding: 10px;
}
.section-25.color-red {
	background: #B20000;
}
.section-25 .button {
	display: inline-block;
	padding: 6px 12px;
	color: #FFF;
	border-radius: 4px;
	background: linear-gradient(to bottom, #4EA230 0%, #369016 100%);
	box-shadow: 0 1px 2px #A4E78A inset, 0 1px 2px #0E4400;
	border: 0;
}
.section-25.color-red .button {
	background: linear-gradient(to bottom, #CA3F3F 0%, #921414 100%);
	box-shadow: 0 1px 2px #F36C6C inset, 0 1px 2px #790000;
}
.section-25 .button:hover, .section-25 .button:active {
	text-decoration: none;
}
.section-25 a[class^=icon] {
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.section-25 .text {
	color: #fff;
	font-size: 20px;
	font-weight: 900;
}
/**************************** [section-25] ****************************/

/**************************** [section-26] ****************************/
 .section-26 {
	padding: 10px;
}
.section-26 .info {
	margin-left: 10px;
	min-width: 155px;
}
.section-26 p {
	line-height: 16px;
	margin-bottom: 10px;
}
.section-26 .name {
	font-size: 1.4rem;
	font-weight: 900;
	margin-bottom: 10px;
}
.section-26 .line {
	color: #999;
}
/**************************** [section-26] ****************************/

/**************************** [section-27] ****************************/
 .section-27 .focus {
	position: relative;
}
.section-27 .name {
	background: #4B8934;
	width: 50px;
	height: 110px;
	position: relative;
}
.section-27 .name2 {
	background: #A73800;
}
.section-27 .name a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.section-27 .name span {
	position: absolute;
	color: #fff;
	font-weight: 900;
	width: 40px;
	line-height: 20px;
	top: 30px;
	left: 10px;
}
.section-27 .navigator {
	background: rgba(0, 0, 0, 0);
	position: absolute;
	right: 0;
	bottom: 23px;
}
.section-27 .text {
	background: rgba(19, 66, 112, .5);
	height: 30px;
	line-height: 30px;
	margin-top: -30px;
	position: relative;
	text-align: center;
	color: #fff;
}
/**************************** [section-27] ****************************/

/**************************** [section-28] ****************************/
 .section-28 ul {
	background: #F4F4F4;
	padding-top: 10px;
}
.section-28 li {
	width: 33.33333333333333%;
	text-align: center;
	margin-bottom: 10px;
}
.section-28 a {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	color: #444;
}
.section-28 .high a {
	background: #4B8933;
	color: #fff;
}
.section-28 .high2 a {
	background: #A73800;
	color: #fff;
}
/**************************** [section-28] ****************************/

/**************************** [section-29] ****************************/
 .section-29 {
	background: #EEEEEE;
	padding-bottom: 0;
}
.section-29 a {
	display: inline-block;
	padding: 5px 10px;
	color: #444;
	background: #F9F9F9;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 1) inset;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 3px;
}
/**************************** [section-29] ****************************/

/**************************** [section-30] ****************************/
 .section-30 {
	background: #F6F6F6;
}
.section-30 .name {
	width: 100px;
	height: 70px;
	background: #235F7B;
	font-size: 20px;
	font-weight: 900;
	color: #fff;
	line-height: 40px;
	text-indent: 10px;
	position: relative;
}
.section-30 .name a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.section-30 .name i {
	position: absolute;
	right: 10px;
	bottom: 0;
}
.section-30 .pull-left:last-child {
	border-left: 4px solid #fff;
}
.section-30 .pull-left:last-child i {
	right: auto;
	left: -10px;
}
.section-30 .text {
	height: 30px;
	line-height: 30px;
	background: rgba(0, 0, 0, .6);
	margin-top: -30px;
	padding: 0 10px;
}
/**************************** [section-30] ****************************/

/**************************** [section-31] ****************************/
 .section-31 {
	padding-bottom: 0;
	background: #F6F6F6;
}
.section-31 a {
	padding: 10px 20px;
	border-radius: 6px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 1px solid #ddd;
	color: #444;
}
.section-31 .high {
	background: #3398CE;
	color: #fff;
}
/**************************** [section-31] ****************************/

/**************************** [section-32] ****************************/
 .section-32 .name span {
	color: #f00;
}
.section-32 .focus {
	width: 315px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.section-32 .navigator {
	background: #888;
}
.section-32 .navigator .circle {
	background: #eee;
}
.section-32 .navigator .circle.active {
	background: #DA0000;
}
.section-32 .prev, .section-32 .next {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	margin-top: -15px;
}
.section-32 .prev {
	left: 10px;
}
.section-32 .next {
	right: 10px;
}
.section-32 .meta {
	padding: 5px;
}
.section-32 .meta li, .section-32 .feedback li {
	width: 50%;
	float: left;
	color: #999;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}
.section-32 .meta li {
	border-bottom: 1px dashed #ccc;
}
.section-32 .meta .key, .section-32 .feedback .key {
	color: #444;
}
.section-32 .form {
	padding: 3px;
	border: 1px solid #FFE8BE;
	margin: 1px;
}
.section-32 .feedback {
	background: #DCEAF5;
}
.section-32 .feedback .key {
	display: inline-block;
	width: 70px;
	text-align: right;
}
.section-32 .feedback li.l .key {
	display: block;
	width: auto;
	text-align: left;
}
.section-32 .feedback textarea {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	line-height: 20px;
	padding: 4px;
	border: 1px solid #CCC;
	border-radius: 4px;
}
.section-32 .feedback .required {
	color: #d00;
}
.section-32 .feedback .text {
	width: 60px;
	line-height: 14px;
	padding: 4px;
	border: 1px solid #CCC;
	border-radius: 2px;
}
.section-32 .feedback .submit {
	display: inline-block;
	padding: 6px 12px;
	color: #FFF;
	border-radius: 4px;
	background: linear-gradient(to bottom, #E77F39 0%, #F60 100%);
	box-shadow: 0 1px 2px #FC8538 inset, 0 1px 2px #B95A1B;
	border: 1px solid #CA895D;
}
.section-32 .meta li.l, .section-32 .feedback li.l {
	width: 100%;
}
.section-32 .tell {
	background: #C10001;
	color: #FFF;
	border: 1px solid #AC0000;
	padding: 5px 8px 5px 1px;
	border-radius: 3px;
}
.section-32 .tell i {
	background: #F00;
	border-radius: 9px;
	padding: 2px;
}
/**************************** [section-32] ****************************/

/**************************** [section-33] ****************************/
 .section-33 .name {
	background: #88A002;
	border-left: 6px solid #315E01;
	color: #fff;
	font-size: 2rem;
	line-height: 35px;
	padding-left: 8px;
}
.section-33 .content {
	word-break:break-all;
}
/**************************** [section-33] ****************************/

/**************************** [section-34] ****************************/
 .section-34 .tab-nav {
	background: #DBE8F1;
	padding: 10px 0;
	border-top: 1px solid #D8D9DD;
	border-bottom: 1px solid #D8D9DD;
}
.section-34 .tab-nav li {
	width: 25%;
	float: left;
	text-align: center;
	position: relative;
}
.section-34 .tab-nav li.active:after {
	content:"";
	position: absolute;
	width: 100%;
	height: 4px;
	background: #3396D7;
	left: 0;
	bottom: -10px;
}
.section-34 .item li {
	position: relative;
	padding-left: 15px;
	line-height: 40px;
}
.section-34 .item li:before {
	content:"";
	width: 4px;
	height: 4px;
	border-radius: 100%;
	position: absolute;
	background: #54B0D7;
	left: 4px;
	top: 50%;
	margin-top: -2px;
}
/**************************** [section-34] ****************************/

/**************************** [section-35] ****************************/
 .section-35 .name {
	background: #51B3D8;
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
}
.section-35 .wrap {
	padding: 5px;
}
.section-35 .wrap, .section-35 .list-more {
	font-weight: 900;
	background: #F4F4F4;
}
.section-35 .list {
	background: #fff;
}
.section-35 .list, .section-35 .list-more {
	line-height: 16px;
	padding: 10px 0;
}
.section-35 .list a, .section-35 .list-more a {
	color: #444;
	display: inline-block;
	padding: 4px 8px;
}
.section-35 .list a:first-child {
	color: #0152A3;
}
.section-35 .divider {
	width: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
	height: 24px;
}
.section-35 i {
	color: #999;
	top: -3px;
	right: 5px;
	width: 30px;
	height: 24px;
	text-align: center;
	line-height: 24px;
}
.section-35 .icon-up-open {
	color: #2EC917;
}
.section-35 .icon-up-open, .section-35 .active .icon-down-open {
	display: none;
}
.section-35 .active .icon-up-open {
	display: inline-block;
}
.section-35 .list-more {
	display: none;
	position: relative;
}
.section-35 .active .list-more {
	display: block;
}
.section-35 .list-more:before, .section-35 .list-more:after {
	position: absolute;
	right: 10px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	content:"";
	border-top: 0 dotted;
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
}
.section-35 .list-more:before {
	border-bottom: 6px solid #ddd;
	top: -6px;
}
.section-35 .list-more:after {
	border-bottom: 6px solid #eee;
	top: -5px;
}
.section-35 .list-more li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.section-35 .list-more li:last-child {
	margin-bottom: 0;
}
/**************************** [section-35] ****************************/

/**************************** [section-36] ****************************/
 .section-36 .name {
	height: 40px;
	background: #744122;
	line-height: 40px;
	font-size: 20px;
	font-weight: 900;
	padding-right: 10px;
}
.section-36 .big {
	height: 40px;
	padding: 0 10px;
	background: #472C21;
	border-right: 1px solid #26150B;
	color: #fff;
}
.section-36 .small {
	color: #fff;
}
.section-36 .wrap {
	background: #E0E0E0;
	padding: 0 10px;
}
.section-36 li {
	background: #fff;
	padding: 10px 0;
	border-bottom: 1px solid #DDD;
	line-height: 14px;
}
.section-36 li a {
	display: inline-block;
	padding: 4px 10px;
	color: #444;
}
.section-36 .divider {
	width: 0;
	border-left: 1px solid #eee;
	border-right: 1px solid #fff;
	height: 20px;
}
/**************************** [section-36] ****************************/

/**************************** [section-37] ****************************/
 .section-37 .heading {
	background: #472C21;
	line-height: 40px;
	font-weight: 900;
	font-size: 2rem;
	color: #fff;
}
.section-37 .heading a {
	color: #fff;
}
.section-37 .heading .left {
	border-right: 1px solid #AA6A46;
	padding: 0 10px;
}
.section-37 .heading .right {
	border-left: 1px solid #AA6A46;
	padding: 0 10px;
}
.section-37 .show {
	position: relative;
	overflow: hidden;
	height: 95px;
}
.section-37 .show a {
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}
.section-37 .show span {
	background: #FFF;
	display: inline-block;
	bottom: 40px;
	padding: 6px;
	position: relative;
	box-shadow: 0 0 4px #808080;
}
.section-37 .show.text-right span {
	right: 10px;
}
.section-37 .show.text-left span {
	left: 10px;
}
/**************************** [section-37] ****************************/

/**************************** [section-38] ****************************/
 .section-38,.section-39 {
 	padding: 10px;
	box-shadow: 0 0 8px #666;
	margin: 10px
}
 .section-38 a{
	width: 25%;
 }
/**************************** [section-38] ****************************/

/**************************** [section-39] ****************************/
.section-39 .info {
	width: 137px;
}
.section-39 .info p{
	line-height: 16px;
	margin-bottom: 12px;
}
.section-39 .info p:last-child{
	margin-bottom: 0;
}
.section-39 .info .name1 {
	height: 32px;
	overflow: hidden;
}
.section-39 .info .name2 {
	height: 16px;
}
.section-39 .info span {
	color: #999;
}
/**************************** [section-39] ****************************/
/**************************** [section-40] ****************************/
 .section-40 .f1 {
	background: #EBEBEB;
	height: 80px;
	position: relative;
}
.section-40 .f1 a {
	position: absolute;
	top: 15px;
	padding: 10px 20px;
	box-shadow: 0 0 10px #999;
	background: #fff;
	color: #000;
	font-size: 26px;
	font-weight: 900;
}
.section-40 .f2 {
	background: #F2F3F5;
	padding: 20px 10px 5px 10px;
	border-bottom: 2px solid #000;
	position: relative;
}
.section-40 .f2 a {
	color: #444;
}
.section-40 .f2 a.active {
	color: #155FAA;
}
.section-40 .f2 a.back-top {
	position: absolute;
	background: linear-gradient(to bottom, #0E66E2 0%, #3481DD 100%);
	top: 0;
	right: 10px;
	color: #fff;
	padding: 4px 10px;
	border-radius: 0 0 4px 4px;
}
.section-40 .f3 {
	background: #E5E5E5;
	padding: 10px;
}
.section-40 .f3 a {
	color: #444;
}
.section-40 .f3 a i {
	color: #fff;
	background: #7ABE2D;
	border-radius: 100%;
	border: 1px solid #7ABE2D;
	font-size: 12px;
	padding: 2px 3px 2px 2px;
	margin-right: 2px;
}
/**************************** [section-40] ****************************/

/**************************** [section-41] ****************************/
 .section-41 {
	background: #eee;
	color: #999;
	margin-bottom: 0;
}
/**************************** [section-41] ****************************/

/**************************** [app] ****************************/
