/*!
 * yundanran css-3
 * @author ydr.me
 * @version 1.4
 */




/**
 * v1.4 2014年2月19日23:36:40;
 */


/**
 * v1.4
 * 重写form部分，更符合使用习惯
 */

/**************************** [reset] ****************************/
@charset "utf-8";

html {
	scrollbar-base-color: #c2c2c2;
	scrollbar-3dlight-color: #c2c2c2;
	scrollbar-highlight-color: #c2c2c2;
	scrollbar-track-color: #eee;
	scrollbar-arrow-color: #000;
	scrollbar-shadow-color: #c2c2c2;
	scrollbar-dark-shadow-color: black;
	/*设置字体相对16px大小，便于rem控制*/
	font-size: 62.5%;
	word-break: break-all;
	word-wrap: break-word;
}

::-webkit-scrollbar-track-piece {
	border-left: 1px solid #d2d2d2;
	background-color: #f5f5f5
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px
}

::-webkit-scrollbar-thumb {
	min-height: 28px;
	border: 1px solid #979797;
	background-color: #c2c2c2;
	background-clip: padding-box
}

::-webkit-scrollbar-thumb:hover {
	border: 1px solid #636363;
	background-color: #929292
}

html, input, button, select, option, textarea {
	font-family: "微软雅黑", sans-serif;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

body, div, span, h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ol, ul, li, label, table,tbody, tfoot, thead, tr, th, td,input[type="radio"] {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.4rem;
	line-height: 2rem;
}

input[type="button"], input[type="submit"], input[type="reset"], button, label, a {
	cursor: pointer;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
}

img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
}

iframe {
	overflow: hidden;
}

a {
	color: #3C77C3;
	text-decoration: none;
	-webkit-transition: color, background 0.5s;
	-moz-transition: color, background 0.5s;
	-ms-transition: color, background 0.5s;
	transition: color, background 0.5s;
}

a:hover {
	color: #1D63BE;
	text-decoration: underline;
}

ul, ol {
	list-style-position: inside;
}
/**************************** [reset] ****************************/

/**************************** [layout] ****************************/

/*flex*/

/*更多参考1：http://qianduanblog.com/2549.html*/

/*更多参考2：http://qianduanblog.com/2779.html*/

/*更多参考3：http://www.w3.org/html/ig/zh/wiki/Css3-flexbox/zh-hans*/

/*flex布局以主轴在水平方向、侧轴在垂直方向为准，行（主轴）为水平方向、列（侧轴）为垂直方向。当主轴在垂直方向、侧轴在水平方向时，行即为垂直方向，列即为水平方向。无论怎样，行都为主轴、列都为侧轴。*/

/*flex容器*/
.flex {
	-ms-flex-align: stretch;
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: flex;
}
/*flex容器 - 水平的flex布局*/
.flex-row {
	-o-flex-direction: row;
	-ms-flex-direction: row;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
}
/*flex容器 - 垂直的flex布局*/
.flex-col {
	-o-flex-direction: column;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
}
/*flex容器 - 水平的flex反布局*/
.flex-row-reverse {
	-o-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
/*flex容器 - 水平的flex反布局*/
.flex-col-reverse {
	-o-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
/*flex容器 - 内容多个侧轴排列*/
.flex-wrap {
	-o-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*行flex容器 - 开始方向排列*/
.flex-row-start {
	-ms-flex-pack: flex-start;
	-o-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}
/*行flex容器 - 居中方向排列*/
.flex-row-center {
	-ms-flex-pack: center;
	-o-justify-content: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
/*行flex容器 - 结束方向排列*/
.flex-row-end {
	-ms-flex-pack: flex-end;
	-o-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
/*flex容器 - 两端方向排列，开始结束有余白*/
.flex-row-around {
	-ms-flex-pack: space-around;
	-o-justify-content: space-around;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
/*flex容器 - 两端方向排列，开始结束无余白*/
.flex-row-between {
	-ms-flex-pack: space-between;
	-o-justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
/*flex容器 - 开始方向排列*/
.flex-rows-start {
	-o-align-content: flex-start;
	-webkit-align-content: flex-start;
	-moz-align-content: flex-start;
	-ms-align-content: flex-start;
	align-content: flex-start;
}
/*flex容器 - 居中方向排列*/
.flex-rows-center {
	-o-align-content: center;
	-webkit-align-content: center;
	-moz-align-content: center;
	-ms-align-content: center;
	align-content: center;
}
/*flex容器 - 结束方向排列*/
.flex-rows-end {
	-o-align-content: flex-end;
	-webkit-align-content: flex-end;
	-moz-align-content: flex-end;
	-ms-align-content: flex-end;
	align-content: flex-end;
}
/*flex容器 - 两端方向排列，开始结束有余白*/
.flex-rows-around {
	-o-align-content: space-around;
	-webkit-align-content: space-around;
	-moz-align-content: space-around;
	-ms-align-content: space-around;
	align-content: space-around;
}
/*flex容器 - 两端方向排列，开始结束无余白*/
.flex-rows-between {
	-o-align-content: space-between;
	-webkit-align-content: space-between;
	-moz-align-content: space-between;
	-ms-align-content: space-between;
	align-content: space-between;
}
/*flex容器 - flex项目侧轴方向开始对齐*/
.flex-col-start {
	-o-align-items: flex-start;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
/*flex容器 - flex项目侧轴方向居中对齐*/
.flex-col-center {
	-o-align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}
/*flex容器 - flex项目侧轴方向结束对齐*/
.flex-col-end {
	-o-align-items: flex-end;
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
/*flex容器 - flex项目侧轴方向拉伸对齐*/
.flex-col-stretch {
	-o-align-items: stretch;
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}
/*flex-self 与 flex-col 效果类似，只是flex-self的优先级更高一点*/

/*flex项目 - flex项目侧轴方向开始对齐*/
.flex-self-start {
	-o-align-self: flex-start;
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}
/*flex项目 - flex项目侧轴方向居中对齐*/
.flex-self-center {
	-o-align-self: center;
	-webkit-align-self: center;
	-moz-align-self: center;
	-ms-align-self: center;
	align-self: center;
}
/*flex项目 - flex项目侧轴方向结束对齐*/
.flex-self-end {
	-o-align-self: flex-end;
	-webkit-align-self: flex-end;
	-moz-align-self: flex-end;
	-ms-align-self: flex-end;
	align-self: flex-end;
}
/*flex项目 - flex项目侧轴方向拉伸对齐*/
.flex-self-stretch {
	-o-align-self: stretch;
	-webkit-align-self: stretch;
	-moz-align-self: stretch;
	-ms-align-self: stretch;
	align-self: stretch;
}
/*flex项目 - 剩余空白分配宽度占比为0*/
.flex-grow-0,
/*表单、列表的键*/
 .form .key, .list-lines .key, .list-line .key {
	-o-flex-grow: 0;
	-webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}
/*flex项目 - 剩余空白分配宽度占比为1*/
.flex-grow-1,
/*表单、列表的值*/
 .form .value, .list-lines .value, .list-line .value {
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}
/*align*/
.pull-left {
	position: relative;
	float: left;
}

.pull-right {
	position: relative;
	float: right;
}

.clearfix:before, .clearfix:after, .progress:before, .progress:after, .tab-nav:before, .tab-nav:after, .form>li:before, .form>li:after {
	display: table;
	content: " ";
	line-height: 0;
}

.clearfix:after, .progress:after, .tab-nav:after, .form>li:after {
	clear: both;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wrap, .module-body {
	background-color: #fff;
	position: relative;
	padding: 15px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	line-height: 20px;
	zoom: 1;
}
/*width and distance*/
.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.w33 {
	width: 33%;
}

.mb10 {
	margin-bottom: 10px;
}

.ml10 {
	margin-left: 10px;
}

hr {
	height: 0;
	box-sizing: content-box;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
/*heading paragraph*/
h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	line-height: 1.1;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .module-header small {
	font-weight: normal;
	line-height: 1;
	color: #999;
}

p {
	line-height: 2.4rem;
	margin-bottom: 1rem;
}

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 {
	page-break-after: avoid;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1 small, h2 small, h3 small {
	font-size: 65%;
}

h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 small, h5 small, h6 small {
	font-size: 90%;
}

h1 {
	margin: 2rem 0;
	font-size: 3.6rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.4rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6, .module-header {
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
/**************************** [layout] ****************************/

/**************************** [widget] ****************************/

/*table*/
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #ddd;
	border-radius: 4px;
	border-left: 0;
}

table th {
	border-bottom: 2px solid #ddd;
}

table th, table td {
	padding: 10px;
	border-left: 1px solid #ddd;
}

table th:first-child {
	border-top-left-radius: 4px;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

table td {
	border-top: 1px solid #ddd;
}

tbody tr:nth-child(2n) {
	background: #F7F7F7;
}

/*img*/
.img-round, .img-circle {
	background-color: #fff;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.img-circle {
	border-radius: 50%
}

.img-middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: #fff;
}

.img-middle img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
/*code*/
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 1.2rem;
	color: #333;
	border-radius: 3px
}

code {
	padding: 2px 4px;
	margin: 0 4px;
	color: #C7254E;
	white-space: nowrap;
	background-color: #F9F2F4;
	border-radius: 4px;
	border: 1px solid #F1CED7;
	text-shadow: 0 1px 0 #fff;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 1.3rem;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0
}

.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll
}


/*分隔*/
.separator {
	display: inline;
	margin: 0 10px;
}

.separator-small {
	display: inline;
	margin: 0 5px;
}

.separator:first-child,
.separator-small:first-child {
	margin-left: 0;
}

.separator:last-child,
.separator-small:last-child {
	margin-right: 0;
}

.separator:only-child {
	margin-right: 10px;
}

.separator-small:only-child {
	margin-right: 5px;
}


/*breadcrumb*/
.breadcrumb {
	padding: 8px 15px;
	background-color: #f5f5f5;
	border-radius: 4px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.breadcrumb>li {
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
}

.breadcrumb>.divider {
	padding: 0 10px;
	color: #888;
	text-shadow: 1px 0 0 #fff;
}

.breadcrumb>.active {
	color: #000;
	font-weight: bolder;
}
/*pagination*/
.pagination {
	display: table;
}

.pagination li {
	display: table-cell;
}

.pagination li:first-child a, .pagination li:first-child span {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-left: 0;
}

.pagination li:last-child a, .pagination li:last-child span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination a, .pagination span {
	background: #fff;
	display: block;
	padding: 6px 12px;
	border: 1px solid #ddd;
	margin-left: -1px;
}

.pagination a:hover {
	text-decoration: none;
	background: #eee;
}

.pagination .active {
	border-color: #367EB6;
}

.pagination .active span {
	cursor: default;
	background: #367EB6;
	color: #fff;
	border-color: #367EB6;
}

.pagination .disabled span {
	background: #ddd;
	color: #888;
	cursor: not-allowed;
}
/*hero*/
.hero {
	margin: 10px 0 50px 0;
	padding: 60px;
	border-radius: 6px;
	background-color: #eee;
	font-weight: 200;
	font-size: 18px;
	line-height: 30px;
}

.hero h1 {
	line-height: 7rem;
	font-size: 6.4rem;
}

.hero h2 {
	line-height: 4rem;
	font-size: 3rem;
}

.hero p {
	line-height: 3rem;
	font-size: 1.8rem;
	margin-bottom: 10px;
}
/*label badge*/
.label, .badge {
	display: inline;
	padding: 3px 6px;
	font-weight: bold;
	line-height: 1;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	font-size: 80%;
}

.label:empty, .badge:empty {
	display: none;
}

.label:hover, .badge:hover {
	text-decoration: none;
	color: #FFF;
}

.label {
	border-radius: 3px;
}

.badge {
	padding-right: 9px;
	padding-left: 9px;
	border-radius: 10px;
}

.label-muted, .badge-muted {
	background: #999;
}

a.label-muted:hover, a.badge-muted:hover {
	background: #808080;
}

.label-primary, .badge-primary {
	background: #428bca;
}

a.label-primary:hover, a.badge-primary:hover {
	background: #3071a9;
}

.label-success, .badge-success {
	background: #5cb85c;
}

a.label-success:hover, a.badge-success:hover {
	background: #449d44;
}

.label-info, .badge-info {
	background: #5bc0de;
}

a.label-info:hover, a.badge-info:hover {
	background: #31b0d5;
}

.label-warning, .badge-warning {
	background: #f0ad4e;
}

a.label-warning:hover, a.badge-warning:hover {
	background: #ec971f;
}

.label-error, .badge-error {
	background: #d9534f;
}

a.label-error:hover, a.badge-error:hover {
	background: #c9302c;
}

.label-inverse, .badge-inverse {
	background: #444;
}

a.label-inverse:hover, a.badge-inverse:hover {
	background: #222;
}
/*close*/
.close {
	float: right;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.2;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
/*alert*/
.alert {
	padding: .8rem 3rem .8rem 1.4rem;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 #fff;
	border-radius: 4px;
	border: 1px solid #fff;
	position: relative;
	background-color: #FDECDD;
	border-color: #EBD6C7;
	color: #DA6B13;
	line-height: 2.2rem;
}

.alert p:last-child {
	margin-bottom: 0;
}

.alert .label, .alert .badge {
	text-shadow: none;
}

.alert-muted {
	background-color: #F5F5F5;
	border-color: #E7E7E7;
	color: #999;
}

.alert-primary {
	background-color: #CEE2F3;
	border-color: #B4D0E7;
	color: #022D52;
}

.alert-success {
	background-color: #CBF3CB;
	border-color: #B3E0B3;
	color: #356635;
}

.alert-info {
	background-color: #D2F0FF;
	border-color: #B4DDF1;
	color: #2D6987;
}

.alert-error {
	background-color: #FCD9D9;
	border-color: #E9C7C7;
	color: #DF1111;
}

.alert-inverse {
	background-color: #444;
	border-color: #000000;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.alert>.close {
	float: none;
	position: absolute;
	right: 14px;
	top: 8px
}

.alert-inverse>.close {
	color: #FFF;
	text-shadow: 0 1px 0 #444;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.alert-inverse>.close:hover {
	color: #FFF;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
/*list-unstyled*/
.breadcrumb, .list-unstyled, .list-inline, .tab-nav, .form {
	list-style: none;
}
/*list lines*/
.list-lines>li {
	margin-bottom: 10px;
	min-height: 30px;
}

.list-lines>li:last-child, .list-lines>.last-li {
	margin-bottom: 0;
}

.list-lines .divider, .list-line .divider, .form .divider {
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #b1b1b1;
	min-height: 0;
	height: 0;
	overflow: hidden;
}
/*list line*/
.list-line>li {
	overflow: hidden;
	line-height: 2.4rem;
	height: 2.4rem;
}

.list-line .divider {
	margin: 10px 0;
}
/*list inline*/
.list-inline {
	margin-left: 0;
}

.list-inline>li {
	display: inline-block;
	margin-right: 10px;
}

.list-inline>li:last-child {
	margin-right: 0;
}
/*tabbable*/
.tabbable {
	background: #fff;
}

.tab-nav {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.tab-nav li {
	float: left;
	margin-bottom: -1px;
	padding: 5px 15px;
	border: 1px solid #DDD;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	margin-left: 10px;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	opacity: 0.6;
}

.tab-nav li.active {
	cursor: default;
	border-bottom-color: #FFF;
	opacity: 1;
	font-weight: 900;
}

.tab-content>.tab-pane {
	display: none;
	zoom: 1;
}

.tab-content>.tab-pane.active {
	display: block;
}
/*module*/
.module {
	border: 1px solid #ddd;
	margin-bottom: 50px;
	border-radius: 4px;
}

.module-header, table th {
	background: #fafafa;
	background: linear-gradient(to bottom, #fefefe 0%, #fafafa 70%, #f5f5f5 100%);
	border-bottom: 1px solid #DDD;
}

.module-header, .module-footer {
	padding: 10px;
	min-height: 20px;
	line-height: 20px;
	margin: 0;
}

.module-header {
	border-radius: 4px 4px 0 0;
	font-size: 1.8rem;
	font-weight: 900;
	border-bottom-width: 2px;
}

.module-body {
	border-radius: 4px;
}

.module-footer {
	background: #fafafa;
	background: linear-gradient(to bottom, #f5f5f5 0%, #fafafa 70%, #fefefe 100%);
	border-top: 1px solid #ddd;
	border-radius: 0 0 4px 4px;
}
/*well*/
.well {
	min-height: 20px;
	padding: 2rem;
	line-height: 2.2rem;
	margin-bottom: 20px;
	background-color: #FAFAFA;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/**************************** [widget] ****************************/









/**************************** [form] ****************************/
fieldset {
	padding: 1.2rem 1rem;
	border: 1px solid #ddd;
	border-radius: 4px;
}

legend {
	font-size: 2rem;
}

.form {
	list-style: none;
}

.form>li {
	margin-bottom: 20px;
}

.form>li:only-child,
.form>li:last-child {
	margin-bottom: 0;
}

.form .action {
	padding: 10px;
	border-top: 4px solid #F3D17A;
	background: #FFC;
}

.form .key {
	width: 15%;
	line-height: 30px;
	text-align: right;
	padding-right: 20px;
	font-weight: 900;
	box-sizing: border-box;
	float: left;
}

.form .value {
	width: 85%;
	float: right;
}

.form .desc {
	color: #888;
}

.form p.desc,
.form p.msg {
	margin-bottom: 0;
}

.text, .button, select {
	padding: .4rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
}

.text {
	width: 100%;
	line-height: 1.5rem;
	margin: 0;
	box-sizing: border-box;
	height: 30px;
}

textarea.text {
	height: 100px;
	width: 100%;
}

.text:focus, .text.active {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-success .text {
	background: #E2FFE2;
	border-color: #7CB97D;
}

.has-success .text:focus, .has-success .text.active {
	box-shadow: inset 0 1px 1px rgba(70, 162, 77, 0.19), 0 0 8px rgba(26, 117, 18, 0.34);
	border-color: #218D23;
}

.has-warning .text {
	background: #FFF0E4;
	border-color: #ECA973;
}

.has-warning .text:focus, .has-warning .text.active {
	box-shadow: inset 0 1px 1px rgba(255, 163, 0, 0.19), 0 0 8px rgba(255, 112, 0, 0.34);
	border-color: #E07621;
}

.has-error .text {
	background: #FFE8E8;
	border-color: #E07A7A;
}

.has-error .text:focus, .has-error .text.active {
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.19), 0 0 8px rgba(255, 0, 0, 0.34);
	border-color: #E96363;
}

.text:focus:invalid, select:focus:invalid {
	border-color: #ee5f5b;
	color: #b94a48;
}

.text:focus:invalid:focus, select:focus:invalid:focus {
	border-color: #e9322d;
	box-shadow: 0 0 6px #f8b9b7;
	box-shadow: inset 0 1px 1px rgba(255, 163, 0, 0.19), 0 0 8px rgba(255, 112, 0, 0.34);
}

.button {
	line-height: 1.4rem;
	padding: .5rem 1rem;
	background: #f7f7f7;
	color: #222;
	margin: 0;
	vertical-align: middle;
	text-shadow: none;
	text-align: center;
	box-sizing: border-box;
	white-space: nowrap;
}

.button:hover, .button.active {
	color: #000;
	background: #eee;
	text-decoration: none;
}

select {
	height: auto;
	padding: .3rem .6rem;
}

.button.disabled, fieldset[disabled] .button {
	cursor: not-allowed;
	opacity: .65;
	box-shadow: none;
}

.button-file {
	position: relative;
	overflow: hidden;
}

.button-file input {
	opacity: 0;
	font-size: 100px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.button-small {
	font-size: 1rem;
	line-height: 1rem;
	padding: .3rem .6rem;
}

.button-large {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2rem;
	padding: .5rem 1.5rem;
}
/*button-primary*/
.button-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

.button-primary:hover, .button-primary.active {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.button-primary.disabled, .button-primary[disabled], .button-primary.disabled:hover, .button-primary[disabled]:hover, .button-primary.disabled.active, .button-primary[disabled].active {
	background-color: #428bca;
	border-color: #357ebd;
}
/*button-info*/
.button-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.button-info:hover, .button-info.active {
	color: #fff;
	background-color: #39b3d7;
	border-color: #268CAA;
}

.button-info.disabled, .button-info[disabled], .button-info.disabled:hover, .button-info[disabled]:hover, .button-info.disabled.active, .button-info[disabled].active {
	background-color: #5bc0de;
	border-color: #46b8da;
}
/*button-success*/
.button-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.button-success:hover, .button-success.active {
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}

.button-success.disabled, .button-success[disabled], .button-success.disabled:hover, .button-success[disabled]:hover, .button-success.disabled.active, .button-success[disabled].active {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
/*button-warning*/
.button-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.button-warning:hover, .button-warning.active {
	color: #fff;
	background-color: #ed9c28;
	border-color: #B1803A;
}

.button-warning.disabled, .button-warning[disabled], .button-warning.disabled:hover, .button-warning[disabled]:hover, .button-warning.disabled.active, .button-warning[disabled].active {
	background-color: #f0ad4e;
	border-color: #eea236;
}
/*button-error*/
.button-error {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.button-error:hover, .button-error.active {
	color: #fff;
	background-color: #d2322d;
	border-color: #9C1C18;
}

.button-error.disabled, .button-error[disabled], .button-error.disabled:hover, .button-error[disabled]:hover, .button-error.disabled.active, .button-error[disabled].active {
	background-color: #d9534f;
	border-color: #d43f3a;
}
/*button-inverse*/
.button-inverse {
	color: #fff;
	background-color: #222;
	border-color: #222;
}

.button-inverse:hover, .button-inverse.active {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.button-inverse.disabled, .button-inverse[disabled], .button-inverse.disabled:hover, .button-inverse[disabled]:hover, .button-inverse.disabled.active, .button-inverse[disabled].active {
	background-color: #000;
	border-color: #000;
}
/*input-group*/
.input-group, .button-group {
	display: table;
	position: relative;
}

.input-group .text, .input-group .text-addon, .input-group .button-addon {
	display: table-cell;
	vertical-align: middle;
}

.input-group .text-addon, .input-group .button-addon {
	white-space: nowrap;
	text-align: center;
}

.input-group .text {
	width: 100%;
	position: relative;
}

.input-group .text, .input-group .button {
	border-radius: 0;
}

.input-group .text-addon, .input-group .button-addon {
	width: 1%;
}

.input-group .text-addon {
	height: 28px;
	border: 1px solid #ccc;
	padding: 0 12px;
}

.input-group .text-addon, .input-group .button-addon .button {
	border-left-width: 0;
	border-right-width: 0;
	margin: 0;
}

.input-group>.text:first-child, .input-group>.text-addon:first-child, .input-group>.button-addon:first-child .button {
	border-radius: 4px 0 0 4px;
}

.input-group>.text:last-child, .input-group>.text-addon:last-child, .input-group>.button-addon:last-child .button {
	border-radius: 0 4px 4px 0;
}

.input-group .text-addon:first-child, .input-group .button-addon:first-child .button {
	border-left-width: 1px;
}

.input-group .text-addon:last-child, .input-group .button-addon:last-child .button {
	border-right-width: 1px;
}
/*button-group*/
.button-group .button {
	display: table-cell;
	border-radius: 0;
	margin-left: -1px;
}

.button-group .button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.button-group .button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.button-group .button.active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	border-color: #bbb;
	position: relative;
}

.button-group .button-primary.active {
	border-color: #285e8e;
}

.button-group .button-info.active {
	border-color: #268CAA;
}

.button-group .button-success.active {
	border-color: #398439;
}

.button-group .button-warning.active {
	border-color: #B1803A;
}

.button-group .button-error.active {
	border-color: #9C1C18;
}

.button-group .button-inverse.active {
	border-color: #000;
}

.button-vertical {
	display: inline-block;
}

.button-vertical .button {
	display: block;
	width: 100%;
	border-radius: 0;
	margin-left: 0;
	margin-bottom: -1px;
}

.button-vertical .button:first-child {
	border-radius: 4px 4px 0 0;
}

.button-vertical .button:last-child {
	border-radius: 0 0 4px 4px;
}
/**************************** [form] ****************************/

/**************************** [display] ****************************/

/*hide*/
.hide {
	display: none;
}

.text-hide {
	border: 0;
	background-color: transparent;
	color: transparent;
	text-shadow: none;
	font: 0/0 a;
	font: 0/0 a;
}
/*color*/
small {
	color: #999;
	font-size: 100%;
	font-weight: normal;
}

.text-lead {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.4;
}

.text-small {
	font-size: 75%;
}

.text-mini {
	font-size: 55%;
}

.text-muted {
	color: #aaa;
}

.text-primary {
	color: #002E55;
}

a.text-muted:hover {
	color: #999;
}

a.text-primary:hover {
	color: #022D52;
}

a.text-success:hover {
	color: #356635;
}

a.text-info:hover {
	color: #2d6987;
}

a.text-warning:hover {
	color: #DA6B13;
}

a.text-error:hover {
	color: #DF1111;
}

.has-success .key, .has-success .desc, .has-success .msg, .has-success .text, .text-success {
	color: #468847;
}

.has-info .key, .has-info .desc, .has-info .msg, .has-info .text, .text-info {
	color: #3a87ad;
}

.has-warning .key, .has-warning .desc, .has-warning .msg, .has-warning .text, .text-warning {
	color: #E08339;
}

.has-error .key, .has-error .desc, .has-error .msg, .has-error .text, .form .required, .text-error {
	color: #F11A1A;
}
/**************************** [display] ****************************/

/**************************** [responsive] ****************************/
@-ms-viewport {
	width: device-width;
}
/*medium viewport*/
@media (max-width: 960px) {
	h1, h2, h3, h4, h5, h6, .module-header {
		font-size: 1.6rem;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 1.2rem 0;
	}

	.hero h1 {
		font-size: 2.2rem;
		line-height: 4rem;
	}

	.hero h2 {
		font-size: 1.8rem;
		line-height: 2.6rem;
	}

	.hero p {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}
/*min viewport*/
@media (max-width: 640px) {
	.hero {
		padding: 1rem;
		margin-top: 0;
		line-height: 2rem;
	}

	.form .key {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}

	.form .value {
		width: 100%;
	}

	.button {
		display: block;
		margin: 10px 0;
		width: 100%;
	}

	.button-group .button {
		margin-top: 0;
		margin-bottom: -1px;
		margin-left: 0;
	}

	.button-group .button:first-child {
		border-radius: 4px 4px 0 0;
	}

	.button-group .button:last-child {
		border-radius: 0 0 4px 4px;
	}

	.pagination li {
		display: none;
	}

	.pagination li:first-child, .pagination li:last-child, .pagination li:only-child {
		display: table-cell;
	}
}
/**************************** [responsive] *************************/
