#新增的重写规则
#RewriteEngine On
#RewriteRule (.*?)\.[a-z0-9]{32}\.(js|css)$ $1.$2 [NC]
#新增的重写规则


# BEGIN REQUIRED FOR WEBFONTS

AddType font/eot .eot
AddType font/svg .svg
AddType font/ttf .ttf
AddType font/woff .woff

<FilesMatch "\.(eot,svg,ttf,woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

# END REQUIRED FOR WEBFONTS